.app-container { padding: 20px; text-align: center; }
.header-container { margin: auto; max-width: 48rem; }
.main-header { font-size: 3rem; font-weight: bold; color: #1a202c; }
.highlight { color: #2563eb; }
.description, .name-line { color: #1a202c; font-weight: 700; }
.search-container { display: flex; flex-direction: column; gap: 10px; align-items: center; }
.wide-input { width: 100%; padding: 10px; font-size: 16px; }
.search-button { width: 100%; max-width: 300px; padding: 10px; font-size: 16px; }
.result { background: #f8f9fa; padding: 15px; white-space: pre-wrap; color: black; font-weight: bold; text-align: left; }
